
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 330px;
    font-family: Source Sans Pro, Lato;
    font-size: 13px; // 1em
    background-color: white
}

.app-container {
    -webkit-overflow-scrolling: touch;
     height: 100vh;
     overflow: auto;
}

::-webkit-scrollbar
{
  width: 2px;  /* for vertical scrollbars */
  height: 0px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: transparent;
}

::-webkit-scrollbar-thumb
{
  background:rgba(218, 221, 227, 0.66);
}
